Package: net.boyaard.unicodeescape15
Name: UnicodeEscape15
Version: 3.0.0
Architecture: iphoneos-arm
Description: Type any Unicode character using Unicode escapes.
Maintainer: Campbell Cole <https://github.com/campbellcole>
Author: Campbell Cole <https://github.com/campbellcole>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
